{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}
  </header>

  <main class="py-5">
   <div class="container py-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<div class="custom-hr-left my-4"></div>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
  </main>
{% endblock content%}
