{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}
  </header>

  <main>
    <div class="page-section mt-5" id="services">
  <div class="container py-5">
    <h3 class="font-weight-bold mt-3">Reset Password</h3>
      <hr>
    <p class="mt-4">Forgotten your password? Enter your email address below, and we'll send instructions for setting a new one to your phone number.</p>
    <div class="form-group row mx-2">
      <form method="POST">
        {% csrf_token %}
        {{ password_reset_form }}
        <button class="btn btn-primary mt-4" type="submit">Send Link</button>
      </form>
    </div>
  </div>
    </div>
  </main>
{% endblock content%}