{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}
  </header>

  <main class="py-5">
  	<div class="container py-5">
  	<h2 class="font-weight-bold mt-3">Password reset link sent</h2>
		<div class="custom-hr-left my-4"></div>
		<h6>We've sent you instructions on your phone number for setting your password if an account exists with the email you entered.<br> You should receive them shortly.<br>If you don't receive a message, please make sure you've entered the email address you registered with.</h6>
  </div>
  </main>
{% endblock content%}