{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'services' %}">Admin</a></li>
                <li class="breadcrumb-item active">Credit Users Wallet</li>
              </ul>
            </nav>
            <h1 class="text-center">Credit Wallets</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="title-section">Wallet Crediting</h2>
              <div class="divider mx-auto"></div>
          </div>
          <div>
            {% for error in form.non_field_errors %}
            <small style="display: block; color: red">{{ error }}</small>
            {% endfor %}
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>User</label>
                  {{form.user}}
                </div>
                <div class="form-group col-md-6">
                  <label>Amount</label>
                  {{ form.amount }}
                </div>
                  </div>
              <button type="submit" class="btn btn-success"> Credit </button>
            </form>
          </div>
      </div>
  </div> <!-- .page-section -->
  </main>

  {% include 'inc/footer.html' %}


{% endblock %}

{% block scripts %}




{% endblock scripts %}


